 <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="#">Bootstrap</a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" href="column">column</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#Flex">Flex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#tab">tab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#Embeds">Embeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#modal">modal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#card">card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#accordion">accordion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">contactform</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="search">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<div class="keyvisual">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <%= image_tag("img1.jpg", class:"d-block w-100") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>HTML/CSS</h5>
        </div>
      </div>
      <div class="carousel-item">
          <%= image_tag("img2.jpg", class:"d-block w-100") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Bootstrap</h5>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("img3.jpg", class:"d-block w-100") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Programing</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<footer>
  <nav class="navbar navbar-expand-lg bg-dark">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-white" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class:"nav-link text-white" %>
      <%= link_to "新規登録", new_user_registration_path, class:"nav-link text-white" %>
    <% end %>
  </nav>
</footer>



